/* CSS declarations go here */

html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  background-image: linear-gradient(blue, teal 100%);
  height: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  display: block;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 10px;
}

h1 {
  text-align: center;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

ul {
  margin: auto;
  padding: 0;
}

.checked > span {
  text-decoration: line-through;
}
